===================================================================

This is my web server {{ansible_facts['hostname']}}.lab.example.com

This variable testvar is {{ testvar}} 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
